@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh; /* Garante que o body ocupe a altura total da viewport */
    display: flex; /* Para centralizar ou controlar o main na página, se necessário */
    flex-direction: column;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside article article"    
    "footer footer footer"
    ;
    min-height: 100%;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 1fr 4fr;    

}

header {
    grid-area: header;
    background-color: #212121; /* Cor para o cabeçalho */
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 2rem;
    
}

.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #fff;
    gap: 6rem;     
}
.logo{
    color:#fff;
}
aside {
    grid-area: aside;
    background-color: #C8E6C9; /* Cor para a barra lateral */
    min-height: 300px; /* Altura mínima para a barra lateral ser visível */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #ccc;
}

article {
    grid-area: article;
    background-color: #B2EBF2; /* Cor para o artigo principal */
    min-height: 100%; /* Altura mínima para o artigo ser visível */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #ccc;
}

footer {
    grid-area: footer;
    background-color: #FFECB3; /* Cor para o rodapé */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #ccc;
}
